<div class="container">
    <div class="row header">
        <div class="twelve columns">
            <h1>Waiter's Webapp</h1>
        </div>
    </div>

    <div class="row entry">
        <div class="twelve columns">
            <h4>Staff Availability</h4>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table  class="centerTable">
                <tr>
                    <th>Day</th>
                    <th>Number of Waiters available</th>
                    <th>Waiter Names</th>
                </tr>
                {{!-- {{#each billArray}} --}}
                <tr>
                    <td>Monday</td>
                    <td>3</td>
                    <td>Pop, Bob, Ed </td>
                </tr>
                {{!-- {{/each}} --}}
            </table>
        </div>
    </div>
  
</div>