<div class="container">
    <div class="row header">
        <div class="twelve columns">
            <h1>Waiter's Webapp</h1>
        </div>
    </div>

    <div class="row entry">
        <div class="twelve columns">
            <h4>Staff Availability</h4>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table  class="centerTable">
                <tr>
                    <th>Number of Waiters available</th>
                    <th>Day</th>
                    <th>Waiter Names</th>
                </tr>
              
            </table>
              {{#each shifts}}
               
                    <p>{{waiter_name}} </p>
              {{/each}}
        </div>
    </div>
  
</div>